# General files
.dockerignore
.git
.gitignore
Dockerfile*
docker-compose*.yml

# Environment
examples
metREx/.env
metREx/env
test-results

# Development files
**/*.egg-info
**/.idea
**/__pycache__
.eggs
.idea
.pytest_cache
__pycache__